code/v1/Receive/obj/project.assets.json
code/v1/Receive/obj/Receive.csproj.nuget.cache
code/v1/Receive/obj/Receive.csproj.nuget.dgspec.json
code/v1/Receive/obj/Receive.csproj.nuget.g.props
code/v1/Receive/obj/Receive.csproj.nuget.g.targets
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.AssemblyInfo.cs
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.AssemblyInfoInputs.cache
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.assets.cache
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.csproj.CoreCompileInputs.cache
code/v1/Send/obj/project.assets.json
code/v1/Send/obj/Send.csproj.nuget.cache
code/v1/Send/obj/Send.csproj.nuget.dgspec.json
code/v1/Send/obj/Send.csproj.nuget.g.props
code/v1/Send/obj/Send.csproj.nuget.g.targets
code/v1/Send/obj/Debug/netcoreapp3.0/Send.AssemblyInfo.cs
code/v1/Send/obj/Debug/netcoreapp3.0/Send.AssemblyInfoInputs.cache
code/v1/Send/obj/Debug/netcoreapp3.0/Send.assets.cache
code/v1/Send/obj/Debug/netcoreapp3.0/Send.csproj.CoreCompileInputs.cache
code/.DS_Store
.DS_Store
