code/v1/Receive/obj/project.assets.json
code/v1/Receive/obj/Receive.csproj.nuget.cache
code/v1/Receive/obj/Receive.csproj.nuget.dgspec.json
code/v1/Receive/obj/Receive.csproj.nuget.g.props
code/v1/Receive/obj/Receive.csproj.nuget.g.targets
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.AssemblyInfo.cs
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.AssemblyInfoInputs.cache
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.assets.cache
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.csproj.CoreCompileInputs.cache
code/v1/Send/obj/project.assets.json
code/v1/Send/obj/Send.csproj.nuget.cache
code/v1/Send/obj/Send.csproj.nuget.dgspec.json
code/v1/Send/obj/Send.csproj.nuget.g.props
code/v1/Send/obj/Send.csproj.nuget.g.targets
code/v1/Send/obj/Debug/netcoreapp3.0/Send.AssemblyInfo.cs
code/v1/Send/obj/Debug/netcoreapp3.0/Send.AssemblyInfoInputs.cache
code/v1/Send/obj/Debug/netcoreapp3.0/Send.assets.cache
code/v1/Send/obj/Debug/netcoreapp3.0/Send.csproj.CoreCompileInputs.cache
code/.DS_Store
.DS_Store
code/v1/Send/obj/Debug/netcoreapp3.0/Send
code/v1/Send/obj/Debug/netcoreapp3.0/Send.csproj.FileListAbsolute.txt
code/v1/Send/obj/Debug/netcoreapp3.0/Send.csprojAssemblyReference.cache
code/v1/Send/obj/Debug/netcoreapp3.0/Send.dll
code/v1/Send/obj/Debug/netcoreapp3.0/Send.pdb
code/v1/Send/.vs/Send/xs/UserPrefs.xml
code/v1/Send/.vs/Send/xs/project-cache/Send-Debug.json
code/v1/Send/.vs/Send/xs/sqlite3/db.lock
code/v1/Send/.vs/Send/xs/sqlite3/storage.ide
code/v1/Send/.vs/Send/xs/sqlite3/storage.ide-shm
code/v1/Send/.vs/Send/xs/sqlite3/storage.ide-wal
code/v1/Send/.vscode/launch.json
code/v1/Send/.vscode/tasks.json
code/v1/Send/bin/Debug/netcoreapp3.0/Send
code/v1/Send/bin/Debug/netcoreapp3.0/Send.deps.json
code/v1/Send/bin/Debug/netcoreapp3.0/Send.dll
code/v1/Send/bin/Debug/netcoreapp3.0/Send.pdb
code/v1/Send/bin/Debug/netcoreapp3.0/Send.runtimeconfig.dev.json
code/v1/Send/bin/Debug/netcoreapp3.0/Send.runtimeconfig.json
code/v1/Receive/Receive.sln
code/v1/Receive/.vs/Receive/xs/UserPrefs.xml
code/v1/Receive/.vs/Receive/xs/project-cache/Receive-Debug.json
code/v1/Receive/.vs/Receive/xs/sqlite3/db.lock
code/v1/Receive/.vs/Receive/xs/sqlite3/storage.ide
code/v1/Receive/bin/Debug/netcoreapp3.0/Receive
code/v1/Receive/bin/Debug/netcoreapp3.0/Receive.deps.json
code/v1/Receive/bin/Debug/netcoreapp3.0/Receive.dll
code/v1/Receive/bin/Debug/netcoreapp3.0/Receive.pdb
code/v1/Receive/bin/Debug/netcoreapp3.0/Receive.runtimeconfig.dev.json
code/v1/Receive/bin/Debug/netcoreapp3.0/Receive.runtimeconfig.json
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.csproj.FileListAbsolute.txt
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.csprojAssemblyReference.cache
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.dll
code/v1/Receive/obj/Debug/netcoreapp3.0/Receive.pdb
code/v1/Receive/.vscode/launch.json
code/v1/Receive/.vscode/tasks.json
